:root {
    --main-color: #C0C0C0;  
    --main-color-hover: #C0C010;

    --title-color: #C0C010;
    --title2-color: #FFFFFF;

    --button-color: #C0C0B5;

    --font-size-buyb-price: 1.2rem;
}
#up {
	width: 100%;
	height: 2rem;
	background-color: violet;
}
html {
	height: 100%;
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	height: 100%;
	background-color: #314054;
	color: white;
	overflow: hidden;
}
#clickerZone {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
#boutiqueZone {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 18%;
}
#clickerZone {
	width: 15%;
}
#game {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 65%;
}
#arena {
	width: 100%;
	height: auto;
	align-self: center;
	background-color: #98949a;
}
img {
	width: 100%;
	user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
}
#clicker {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
}
#clicker:hover {
	filter: drop-shadow(0rem 0rem 2rem var(--main-color-hover));
}
#temp {
	width: 40%;
}
.separation, .separationB {
	background: var(--main-color);
}
.separation:hover, .separationB:hover {
	box-shadow: 0em 0em 2em 0.5em var(--main-color-hover);
	background: var(--main-color-hover);
	transition: all 0.3s ease-out;
}
.separation {
	height: 100%;
  	width: 1%;
}
.separationB {
	height: 1rem;
  	width: 100%;
}
.fallingGPU {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
}
.deck {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
	height: 12rem;
	overflow: hidden;
}
.deck img {
	width: 4rem;
	height: auto;
	padding: 0.5rem;
	filter: drop-shadow(0 0 0.1rem black);
}
.buyB {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background-color: var(--button-color);
	height: 6rem;
	color: black;
	opacity: 0.9;
	font-weight: bold;
}
.buyB.unAffordable:hover {
	opacity: 0.7;
}
.buyB:not(.unAffordable):hover {
	opacity: 1;
}
.buyBObjImg {
	width: auto;
	height: 100%;
}
.buyBObjImgZone {
	width: 30%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-right: 1rem;
	padding: 0.15rem;
}
.buyBNamePrice {
	z-index: 2;
	width: 35%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}
.buyBName {
	font-size: 1.5rem;
}
.buyBPriceZone {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.buyBPrice {
	font-size: var(--font-size-buyb-price);
}
.buyBGoldCoinImgZone {
	padding-left: 0.2rem;
	width: var(--font-size-buyb-price);
	height: var(--font-size-buyb-price);
	overflow: hidden;
}
.buyBNb {
	position: relative;
	z-index: 1;
	color: darkgray;
	font-size: 6rem;
	text-align: center;
	left: 2rem;
	bottom: 0.5rem;
}
.unAffordable {
	opacity: 0.6;
}
#score, #gain {
	display: flex;
	flex-direction: row;
}
#nbFLOPS, #flopsPerSec {
	padding-left: 1rem;
}
.hidden {
  display: none !important;
}
.title {
	font-size: 2.5rem;
	font-weight: bold;
	background-color: var(--title-color);
	text-align: center;
}
.title2 {
	background-color: var(--title2-color);
	color: var(--main-color-hover);
}
#ressources {
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 4rem;
	margin-left: 1rem;
}
#infoBar {
	display: flex;
	width: 100%;
	height: 4rem;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;
}
#gold, #pv {
	display: flex;
	flex-direction: row;
	padding-right: 0.5rem;
}
#nbGolds {
	width: auto;
}
#ressources * {
	align-items: center;
}
#gold img, #pv img {
	width: 4rem;
	height: 4rem;
}
#wave {
	font-size: 4rem;
	font-weight: bold;
}
.isSelected {
	box-shadow: inset 0em 0em 2em 0.05em red;
}

#cards {
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	height: 100%;
}
.card {
	width: 20%;
	height: 65%;
	margin-top: auto;
	margin-bottom: auto;
	background: rgb(64,0,13);
	background: linear-gradient(180deg, rgba(64,0,13,1) 4%, rgba(102,0,20,1) 13%, rgba(147,0,30,1) 31%, rgba(148,0,30,1) 58%, rgba(145,0,30,1) 72%, rgba(128,0,26,1) 83%, rgba(89,0,18,1) 99%);

	border-style: solid solid solid; solid;
	border-width: 0.8rem;
	border-radius: 1rem;
	border-image: linear-gradient(180deg, rgba(166,124,0,1) 4%, rgba(191,155,48,1) 14%, rgba(255,195,15,1) 28%, rgba(213,175,65,1) 44%, rgba(255,191,0,1) 64%, rgba(255,207,64,1) 77%, rgba(166,124,0,1) 99%) 1;
}
.cardTitle {
	padding-top: 3rem;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
}
.cardDescription {
	word-wrap: break-word;
	width: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.5rem;
}
.hidden {
	display: none;
}
.card:hover {
	box-shadow: 0em 0em 2em 0.05em gold;
}

#towerUpgrade {
	width: auto;
	height: 100%;
	background-color: lightgreen;
	border: none;
	padding: 0.3rem 0.4rem 0.3rem 0.4rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
}
#towerUpgrade:hover {
	box-shadow: 0em 0em 2em 0.05em lemonchiffon;
}

#towerUpgrade img {
	width: 100%;
	height: 100%;
}

.pixelated {
  image-rendering: pixelated;
}
